[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
sqlalchemy = "*"
pymysql = "*"
pg8000 = "*"

[dev-packages]

[requires]
python_version = "3.8"
